/* App.css stylesheet  */

/* global styles */
*{
  padding : 5px;
}

/* WL Logo */
.logo {
  height: 50px;
}

/* Title  */
.title {
  font-size: 50px;
  text-align: center;
}

/* Calendar */
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}