/* Key Menu Style sheet  */

/* Key Menu Container */
.key-menu-container {
    display: block;
    width: 100%;
    padding: 10px;
}

/* All buttons */
.key-menu-btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}

/* Indivudal Buttons */
#bank-hols-btn {
    background-color: yellow 
}

#period-start-btn {
    border-left: 2px solid black;
    border-top: 2px solid black;
}

#period-end-btn {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}